
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
    background-color: #11111b;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
/* Intro card */
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Modal card */
#modal-container{
    display: none;
}
#modal-content{
    text-align: center;
}
/* Bttns */
#opponet-selector, #play-person, #player-ai{
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #2bf5b8;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
/* Hover effect for bttns */
#opponet-selector:hover{
    border: 4px solid rgb(248, 248, 248);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#play-person:hover{
    border: 4px solid rgb(248, 248, 248);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#player-ai:hover{
    border: 4px solid rgb(248, 248, 248);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* Game container */
#game-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: #ffffff;
    gap: 3px;
    padding: 3px;
}
.cell{
    width: 100px;
    height: 100px;
    background-color: #11111b;
    font-size: 75px;
    cursor: pointer;
    color: #adac44;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bttn-container{
    display: flex;
    margin-top: 20px;
    gap: 15px;
}
#restart{
    width: 130px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    background-color: #2bf5b8;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
#restart:hover{
    border: 4px solid rgb(248, 248, 248);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);   
}
#main-menu{
    width: 130px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    background-color: #2bf5b8;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
#main-menu:hover{
    border: 4px solid rgb(248, 248, 248);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

